.idea
composer.phar
vendor/*
.env
_generated
AcceptanceTester.php
cghooks.lock
src/Magento/FunctionalTestingFramework/Group/*.php
.DS_Store
build/*
clover.xml
coverage/
.vscode
codeception.yml
dev/tests/functional/MFTF.suite.yml
dev/tests/functional/_output
dev/mftf.log
dev/tests/mftf.log
dev/tests/docs/*
dev/tests/_output
dev/tests/functional.suite.yml
/v2/
dev/.credentials.example
dev/tests/.phpunit.result.cache
dev/tests/verification/TestModule/Test/testFile.xml
