{{!
/**
  * Copyright © Magento, Inc. All rights reserved.
  * See COPYING.txt for license details.
  */
}}
{{# arrays1 }}
<array key="{{ arrayKey }}">
    {{> value }}
    {{> arrays2 }}
</array>
{{/ arrays1 }}
