{{!
/**
  * Copyright © Magento, Inc. All rights reserved.
  * See COPYING.txt for license details.
  */
}}
{{# arrays2 }}
<array key="{{ arrayKey }}">
    {{> value }}
    {{> arrays3 }}
</array>
{{/ arrays2 }}
