{{#createData}}
${{entityName}} = DataObjectHandler::getInstance()->getObject("{{entityName}}");
$this->{{stepKey}} = new DataPersistenceHandler(${{entityName}}, [{{#requiredEntities}}$this->{{entityName}}{{^last}}, {{/last}}{{/requiredEntities}}]);
$this->{{stepKey}}->createEntity();
{{/createData}}
{{#deleteData}}
$this->{{entityName}}->deleteEntity();
{{/deleteData}}
