{{#actions}}
{{#webDriverInit}}
$webDriver = $this->getModule('\Magento\FunctionalTestingFramework\Module\MagentoWebDriver');

// close any open sessions
if ($webDriver->webDriver != null) {
    $webDriver->webDriver->close();
    $webDriver->webDriver = null;
}

// initialize the webdriver session
$webDriver->_initializeSession();
{{/webDriverInit}}
{{#action}}
{{{action}}}
{{/action}}
{{#createData}}
PersistedObjectHandler::getInstance()->createEntity(
    "{{stepKey}}",
    "suite",
    "{{entityName}}"{{#requiredEntities}},
    [$this->{{entityName}}{{^last}}, {{/last}}]{{/requiredEntities}}{{#customFields}},
     ${{customFields}}{{/customFields}}
);
{{/createData}}
{{#deleteData}}
PersistedObjectHandler::getInstance()->deleteEntity(
	"{{entityName}}",
    "suite"
);
{{/deleteData}}
{{/actions}}
