<?php

namespace Group;

use Magento\FunctionalTestingFramework\DataGenerator\Handlers\PersistedObjectHandler;

/**
 * Group class is Codeception Extension which is allowed to handle to all internal events.
 * This class itself can be used to listen events for test execution of one particular group.
 * It may be especially useful to create fixtures data, prepare server, etc.
 *
 * INSTALLATION:
 *
 * To use this group extension, include it to "extensions" option of global Codeception config.
 */
class {{suiteName}} extends \Codeception\GroupObject
{
    public static $group = '{{suiteName}}';
    private $testCount = {{testCount}};
    private $preconditionFailure = null;
    private $currentTestRun = 0;
    private static $HOOK_EXECUTION_INIT = "\n/******** Beginning execution of {{suiteName}} suite %s block ********/\n";
    private static $HOOK_EXECUTION_END = "\n/******** Execution of {{suiteName}} suite %s block complete ********/\n";

    {{#before}}
    public function _before(\Codeception\Event\TestEvent $e)
    {
        // increment test count per execution
        $this->currentTestRun++;
        $this->executePreConditions();

        if ($this->preconditionFailure != null) {
            //if our preconditions fail, we need to mark all the tests as incomplete.
            $e->getTest()->getMetadata()->setIncomplete($this->preconditionFailure);
        }
    }


    private function executePreConditions()
    {
        if ($this->currentTestRun == 1) {
            print sprintf(self::$HOOK_EXECUTION_INIT, "before");

            try {
                {{> testActions}}
            } catch (\Exception $exception) {
                $this->preconditionFailure = $exception->getMessage();
            }

            print sprintf(self::$HOOK_EXECUTION_END, "before");
        }
    }
    {{/before}}

    {{#after}}
    public function _after(\Codeception\Event\TestEvent $e)
    {
        $this->executePostConditions();
    }


    private function executePostConditions()
    {
        if ($this->currentTestRun == $this->testCount) {
            print sprintf(self::$HOOK_EXECUTION_INIT, "after");

            try {
                {{> testActions}}
            } catch (\Exception $exception) {
                print $exception->getMessage();
            }

            PersistedObjectHandler::getInstance()->clearSuiteObjects();
            print sprintf(self::$HOOK_EXECUTION_END, "after");
        }
    }
    {{/after}}
}
