<?xml version="1.0" encoding="UTF-8"?>
<!--
 /**
  * Copyright © Magento, Inc. All rights reserved.
  * See COPYING.txt for license details.
  */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../DataGenerator/etc/dataOperation.xsd">
    <operation name="{{ operationName }}" dataType="{{ operationDataType }}" type="{{ operationType }}">
        {{> field2 }}
        {{> array1 }}
    </operation>
</config>