#Copyright © Magento, Inc. All rights reserved.
#See COPYING.txt for license details.

#*** Set the base URL for your Magento instance ***#
MAGENTO_BASE_URL=http://devdocs.magento.com/

#*** Uncomment if you are running Admin Panel on separate domain (used with MAGENTO_BACKEND_NAME) ***#
# MAGENTO_BACKEND_BASE_URL=http://admin.example.com/

#*** Set the Admin Username and Password for your Magento instance ***#
MAGENTO_BACKEND_NAME=admin
MAGENTO_ADMIN_USERNAME=admin
MAGENTO_ADMIN_PASSWORD=123123q

#*** Path to CLI entry point and command parameter name. Uncomment and change if folder structure differs from standard Magento installation
#MAGENTO_CLI_COMMAND_PATH=dev/tests/acceptance/utils/command.php
#MAGENTO_CLI_COMMAND_PARAMETER=command

#*** Selenium Server Protocol, Host, Port, and Path, with local defaults. Uncomment and change if not running Selenium locally.
#SELENIUM_HOST=127.0.0.1
#SELENIUM_PORT=4444
#SELENIUM_PROTOCOL=http
#SELENIUM_PATH=/wd/hub
SELENIUM_CLOSE_ALL_SESSIONS=true

#*** Browser for running tests, default chrome. Uncomment and change if you want to run tests on another browser (ex. firefox).
BROWSER=chrome

#*** Uncomment and set host & port if your dev environment needs different value other than MAGENTO_BASE_URL for Rest API Requests ***#
#MAGENTO_RESTAPI_SERVER_HOST=restapi.magento.com
#MAGENTO_RESTAPI_SERVER_PORT=8080
#MAGENTO_RESTAPI_SERVER_PROTOCOL=https

#*** To use HashiCorp Vault to manage _CREDS secrets, uncomment and set vault address and secret base path ***#
#CREDENTIAL_VAULT_ADDRESS=http://127.0.0.1:8200
#CREDENTIAL_VAULT_SECRET_BASE_PATH=secret

#*** To use AWS Secrets Manager to manage _CREDS secrets, uncomment and set region, profile is optional, when omitted, AWS default credential provider chain will be used ***#
#CREDENTIAL_AWS_SECRETS_MANAGER_PROFILE=default
#CREDENTIAL_AWS_SECRETS_MANAGER_REGION=us-east-1

#*** Uncomment these properties to set up a dev environment with symlinked projects ***#
#TESTS_BP=
#FW_BP=
#TESTS_MODULE_PATH=

#*** Uncomment this property to change the default timezone MFTF will use for the generateDate action ***#
#DEFAULT_TIMEZONE=America/Los_Angeles

#*** These properties impact the modules loaded into MFTF, you can point to your own full path, or a custom set of modules located with the core set
MODULE_ALLOWLIST=Magento_Framework,ConfigurableProductWishlist,ConfigurableProductCatalogSearch
#CUSTOM_MODULE_PATHS=

#*** Bool property which allows the user to toggle debug output during test execution
#MFTF_DEBUG=

#*** Bool property which allows the user to generate and run tests marked as skipped
#ALLOW_SKIPPED=true

#*** Default timeout for wait actions
#WAIT_TIMEOUT=30

#*** Uncomment and set to enable all tests, regardless of passing status, to have all their Allure artifacts.
#VERBOSE_ARTIFACTS=true

#*** Uncomment and set to enable browser log entries on actions in Allure. Blocklist is used to filter logs of a specific "source"
#ENABLE_BROWSER_LOG=true
BROWSER_LOG_BLOCKLIST=other

#*** Uncomment and set to true to use Codeception's interactive pause functionality
#ENABLE_PAUSE=true

#*** Elastic Search version used for test ***#
ELASTICSEARCH_VERSION=7
#*** End of .env ***#
